    
	<!-- Vendor JS -->
	{% load static  %}
	<script src="{% static 'assets/js/vendors.min.js'%}"></script>
	<script src="{% static 'assets/js/pages/chat-popup.js'%}"></script>
    <script src="{% static 'assets/icons/feather-icons/feather.min.js'%}"></script>	

	<script src="{% static 'assets/vendor_components/apexcharts-bundle/dist/apexcharts.js'%}"></script>
	
	<!-- EduAdmin App -->
	<script src="{% static 'assets/js/template.js'%}"></script>
	<script src="{% static 'assets/js/pages/dashboard4.js'%}"></script>